[Unit]
Description=Valkey ({{ valkey_identifier }})
{% for service in valkey_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in valkey_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}

[Service]
Type=simple
Environment="HOME={{ sysd_docker_unit_home_path }}"
ExecStartPre=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} stop -t {{ valkey_container_stop_grace_time_seconds }} {{ valkey_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} rm {{ valkey_identifier }} 2>/dev/null || true'

ExecStartPre={{ sysd_docker_host_command }} create \
      --rm \
      --name={{ valkey_identifier }} \
      --log-driver=none \
      --user={{ valkey_uid }}:{{ valkey_gid }} \
      --cap-drop=ALL \
      --read-only \
      --network={{ valkey_container_network }} \
      {% if valkey_container_tcp_host_bind_port %}
      -p {{ valkey_container_tcp_host_bind_port }}:{{ valkey_container_tcp_port }} \
      {% endif %}
      --env-file={{ valkey_base_path }}/env \
      --mount type=bind,src={{ valkey_config_path }}/valkey.conf,dst=/usr/local/etc/valkey/valkey.conf,ro \
      --mount type=bind,src={{ valkey_data_path }},dst=/data \
      --tmpfs=/tmp:rw,noexec,nosuid,size={{ valkey_container_tmpfs_tmp_size }} \
      {% for arg in valkey_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ valkey_container_image_self_build_name if valkey_container_image_self_build else valkey_container_image }} \
      valkey-server /usr/local/etc/valkey/valkey.conf

{% for network in valkey_container_additional_networks %}
ExecStartPre={{ sysd_docker_host_command }} network connect {{ network }} {{ valkey_identifier }}
{% endfor %}

ExecStart={{ sysd_docker_host_command }} start --attach {{ valkey_identifier }}

ExecStop=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} stop -t {{ valkey_container_stop_grace_time_seconds }} {{ valkey_identifier }} 2>/dev/null || true'
ExecStop=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} rm {{ valkey_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ valkey_identifier }}

[Install]
WantedBy=multi-user.target
